@import "tailwindcss";
@import "tw-animate-css";

:root {
  --orange-65: oklch(0.76 0.1579 48.58); /* #FF8E4D */
  --orange-70: oklch(0.79 0.1362 49.8); /*#FF9E66*/
  --orange-75: oklch(0.82 0.113 50.2); /*#FFAE80*/
  --orange-80: oklch(0.85 0.09 50.78); /*#FFBE99*/
  --orange-90: oklch(0.92 0.044 50.42); /*#FFDECC*/
  --orange-95: oklch(0.96 0.0219 54.34); /*#FFEFE5*/
  --orange-97: oklch(0.98 0.0127 48.59); /*#FFF5F0*/
  --orange-99: oklch(0.99 0.0042 56.38); /*#FFFCFA*/
  --grey-10: oklch(0.21 0 0); /*#191919*/
  --grey-15: oklch(0.27 0 0); /*#262626*/
  --grey-20: oklch(0.32 0 0); /*#333333*/
  --grey-30: oklch(0.42 0.0016 286.33); /*#4C4C4D*/
  --grey-35: oklch(0.46 0.0016 286.34); /*#59595A*/
  --grey-40: oklch(0.51 0.0031 286.29); /*#656567*/
  --grey-60: oklch(0.76 0.1579 48.58); /*#98989A)*/
  --grey-70: oklch(0.77 0 0); /*#B3B3B3*/

  --shadow: 6px 6px 0px 0px var(--grey-15);
  --light-shadow: 4px 4px 0px 0px var(--grey-15);
  --secondary-shadow: 6px 6px 0px 0px var(--orange-80);
}

@theme inline {
  /* Primary Colors */
  --color-main: var(--orange-65); /* Vibrant Orange */

  /* Backgrounds */
  --color-background: var(--orange-97); /* Soft White */
  --color-secondary-background: var(--orange-95); /* Warm Ivory */

  /* Foregrounds */
  --color-foreground: var(--orange-90); /* Light Peach */
  --color-main-foreground: var(--orange-99); /* Pure White */

  /* Text Colors */
  --color-text-primary: var(--grey-10); /* Midnight Black */
  --color-text-secondary: var(--grey-15); /* Deep Charcoal */
  --color-text-muted: var(--grey-20); /* Slate Grey */
  --color-text-light: var(--grey-30); /* Steel Grey */
  --color-text-placeholder: var(--grey-35); /* Graphite Grey */
  --color-text-disabled: var(--grey-40); /* Cloudy Ash */

  /* Borders & Overlays */
  --color-border: var(--grey-15); /* Deep Black */
  --color-ring: var(--grey-10); /* Charcoal Black */
  --color-overlay: var(--grey-35); /* Cool Gray */

  /* Navigation & UI Elements */
  --color-navlink: var(--orange-75); /* Soft Apricot */
  --color-button-primary: var(--orange-65); /* Vibrant Tangerine */
  --color-button-hover: var(--orange-70); /* Warm Sunset */
  --color-highlight: var(--orange-80); /* Peach Glow */

  /* Shadows */
  --shadow-shadow: var(--shadow);
  --shadow-light-shadow: var(--light-shadow);
  --shadow-secondary-shadow: var(--secondary-shadow);

  /* Typography */
  --font-raleway: "Raleway", sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --font-weight-base: 500;
  --font-weight-heading: 700;

  /* Spacing */
  --spacing-boxShadowX: 6px;
  --spacing-boxShadowY: 6px;
  --spacing-reverseBoxShadowX: -6px;
  --spacing-reverseBoxShadowY: -6px;
  --radius-base: 6px;

  /* Breakpoints */
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 90rem;
  --breakpoint-3xl: 120rem;
}
